.contain-about{
    width: 80%;
    height: 80vh;
    margin: auto !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    >p{
        white-space: pre-line;
    }
    >div:first-child{
        display: flex;
        flex-direction: column;
        visibility: hidden;
        justify-content: center;
        gap: 10px;
        animation: entrance 1s ease 5.5s 1 normal forwards;
        >p:first-child{
            font-weight: bold;
            font-size: x-large;
        }  
        >p:nth-child(2), >p:nth-child(3){
            color: #70798ca9;
        } 
    }
    >div:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: hidden;
        animation: entrance 1s ease 5.5s 1 normal forwards;
        >div:first-child{
            width: 30vw;
            height: 30vw;
            background-color: #7678ed;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            animation: picture-background-move 20s ease 0s infinite normal forwards;
        }
    }
    >div:nth-child(3){
        position:static;
        bottom:  10vh;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        >*{
            color: #7678ed;
        }
        >div:first-child{
            border: 2px solid;
            border-radius: 20px;
            height: 30px;
            width: 20px;
            display: flex;
            justify-content: center;
            >hr{
                height:10px;
                width:2px;
                border-width:0;
                color: #7678ed;
                background-color:#7678ed;
                border-radius: 2px;
                animation: mouse-move 5s ease 0s infinite normal forwards;
            }
        }
    }
    >div:nth-child(3):active{
        background-color: #7678ed0c;
        padding: 300px;
        border-radius: 100px;
    }
    >div:nth-child(3):hover{
        animation: mouse-move 2s ease 0s infinite normal forwards;
    }
}

button {
    margin-top: 3vh !important;
    display: flex;
    height: 6vh;
    width: 10vw;
    justify-content: center;
    align-items: center;
    background-color: #7678ed;
    gap: 10px;
    color: white;
    transition: all 0.2s ease-in;
    border-radius: 0.5em;
    border: none;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
button:hover {
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    border: 1px solid #7678ed;
    background-color: white;
    color: #7678ed; 
    cursor: pointer;      
}

@keyframes entrance {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
        visibility: visible;
	}
}
@keyframes picture-background
 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
        visibility: visible;
	}
}
@keyframes picture-background-move
 {
	0% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}

    50%{
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    }

	100% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
}

@keyframes mouse-move
 {
    50%{
        transform: translateY(3px);
    }

	100% {
		transform: translateY(0px);
	}
}

