@import '../../assets/styles/global.scss';
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5vh !important;
    gap: 30px;
    height: 80vh;
    >span{
        visibility: hidden;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        animation: entrance-span 1s ease 1s 1 normal forwards;
        display: grid;
        cursor: pointer;

        >*{
            width: 22px;
            height: 22px;
            place-self: center;
            color: $primary-color;
        }
    }
    >span:hover{
        >*{
            animation: hover 1s ease 0s 1 normal forwards;
        }
    }
}


@keyframes entrance-span {
	0% {
        background: #ffffff;
		box-shadow:  5px 5px 12px #fcfcfc,
             -5px -5px 12px #ffffff;
	}

	100% {
        background:  #74baff43;
		box-shadow:  5px 5px 10px #74baff43,-5px -5px 10px #ffffff;
        visibility: visible;
	}
}

@keyframes hover {
	0% {
		transform: scale(1);

	}
    100% {
		transform: scale(0.7);
	}
}