// $background-color: #ffffff;
// $nav-color-selected: #7678edb9;
// $nav-color: #14213d;
// $scroll-back-color: #7678edb1;
// $primary-color: #7678ed;
// $sub-text: #70798ca9;
// $secondary-color: #7678ed1b;

$background-color: #ffffff;
$nav-color-selected: #0984e3;
$nav-color: #14213d;
$scroll-back-color: #74b9ff;
$background-color-item: #74b9ff;
$background-color-project: #74baff43;
$background-color-icon: #0984e3;
$primary-color: #0984e3;
$sub-text: #70798ca9;
$secondary-color: #7678ed1b;
*{
    margin: 0;
    padding: 0;
}